<template id="language-switcher-template">
    <nav id="language-switcher-wrapper" class="language-switcher-wrapper">
        <button id="language-switcher-toggle" class="language-switcher-toggle" type="button" aria-expanded="false" aria-controls="language-switcher-menu">
            <img id="language-switcher-icon" class="language-switcher-icon" src="/images/language-switch.svg" alt="" aria-hidden="true" />
            <span id="language-switcher-label" class="language-switcher-label"></span>
        </button>
        <ul id="language-switcher-menu" class="language-switcher-menu"></ul>
    </nav>
</template>
