<template id="language-switcher-template">
    <nav id="language-switcher-wrapper" class="language-switcher-wrapper">
        <button id="language-switcher-toggle" class="language-switcher-toggle" type="button" aria-expanded="false" aria-controls="language-switcher-menu">
            <img id="language-switcher-icon" class="language-switcher-icon language-switcher-icon-white" src="/images/language-switch-white.svg" alt="" aria-hidden="true" />
            <img id="language-switcher-icon-green" class="language-switcher-icon language-switcher-icon-green" src="/images/language-switch-green.svg" alt="" aria-hidden="true" />
        </button>
        <ul id="language-switcher-menu" class="language-switcher-menu"></ul>
    </nav>
</template>
